<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cuentas</title>
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Cuentas</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table
					class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
                            <th>ID</th>
							<th>CCC</th>
							<th>Balance</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cuenta : ${cuentas}">
							<td th:text="${cuenta.id}"></td>
                            <td th:text="${cuenta.ccc}"></td>
							<td th:text="${cuenta.balance}"></td>
							<td>
								<div class="btn-group">
									<form th:method="DELETE"
										th:action="@{/cuenta/{id}(id=${cuenta.id})}">
										<input type="submit" class="delete btn btn-sm btn-danger"
											value="Eliminar" />
									</form>

									<form th:method="GET"
										th:action="@{/editCuenta/{id}(id=${cuenta.id})}">
										<input type="submit" class="primary btn btn-sm btn-primary" 
											value="Editar" />
									</form>

								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<div th:if="${delete != null && delete}" class="alert alert-success">
			<strong>OK </strong> La cuenta ha sido eliminada correctamente.
		</div>
		<div th:if="${delete != null && !delete}" class="alert alert-danger">
			<strong>Error </strong> Error eliminado la cuenta.
		</div>
		<div th:if="${update != null && update}" class="alert alert-success">
			<strong>OK </strong> La cuenta ha sido actualizada correctamente.
		</div>
		<div th:if="${update != null && !update}" class="alert alert-danger">
			<strong>Error </strong> Error al actualizar la cuenta.
		</div>
		<div th:if="${create != null && create}" class="alert alert-success">
			<strong>OK </strong> La cuenta ha sido creada correctamente.
		</div>
		<div th:if="${create != null && !create}" class="alert alert-danger">
			<strong>Error </strong> Error al crear la cuenta.
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/addCuenta}">Nueva Cuenta</a> 
            <a class="btn btn-sm btn-primary" th:href="@{/}">Atrás</a>
		</div>
	</div>
</body>
</html>